extends base
block content
    //- a(href="/logout") Logout
    h2 Welcome #{u} to #{type} 
    a(href=y+`/sunday`) Sunday
    br
    a(href=y+`/monday`) Monday
    br
    a(href=y+"/tuesday") Tuesday
    br
    a(href=y+"/wednesday") Wednesday
    br
    a(href=y+"/thursday") Thursday
    br
    a(href=y+"/friday") Friday
    br
    a(href=y+"/saturday") Saturday
    br
